@font-face {
    font-family: "Work-Sans";
    src: url(./fonts/WorkSans-VariableFont_wght.ttf);
    font-style: normal;
    font-weight: 100 900;
}

@font-face {
    font-family: "Work Sans";
    src: url(./fonts/WorkSans-Italic-VariableFont_wght.ttf);
    font-style: italic;
    font-weight: 100 900;
}

@font-face {
    font-family: Heebo;
    src: url(./fonts/Heebo-VariableFont_wght.ttf);
    font-style: normal;
    font-weight: 100 900;
}

body {
    font-family: Heebo, sans-serif;
    margin: 0;
    color: rgb(207, 159, 241);
}

h1 {
    font-size: 8rem; 
    font-weight: 800;
    font-family: "Work Sans";
    color: rgb(212, 162, 233);
}
